{{define "title"}}About{{end}}

{{define "main"}}
    <h2>About</h2>
    
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis eos neque odio repellendus unde, non vel nostrum! Quas quia natus ipsum tempore maiores voluptate ab, ipsam harum. Consequatur, a, pariatur. Lorem ipsum dolor sit, amet consectetur adipisicing, elit. Eaque, unde fugiat nam quis animi facere quia expedita, vitae vel, laboriosam, atque maxime maiores pariatur quae eligendi voluptatum provident laudantium non. </p>
{{end}}